<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin-panel</title>
</head>
<body class="bg-light">

<header id="header" class="bg-dark p-3 text-white d-flex justify-content-between">
    <div id="authUser">
    </div>
    <form method="get" action="/logout">
        <button class="bg-transparent text-secondary border-0">
            Logout
        </button>
    </form>
</header>

<!--  Боковая панель  -->
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="true">User</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content p-4" id="v-pills-tabContent">
            <!--                Административная панель-->
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">

                <h1>Admin panel</h1>
                <!--        Центральная навигация -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users-table"
                           role="tab" aria-controls="nav-home" aria-selected="true">User tabs</a>
                        <a class="nav-item nav-link" id="nav-new-user-tab" data-toggle="tab" href="#nav-new-user"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New user</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!--                        Вкладка user tabs-->
                    <div class="tab-pane fade show active" id="nav-users-table" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <h5 class="p-3 mb-0 border-1 border">All users</h5>
                        <section class="p-3 bg-white">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-users">
                                </tbody>
                                </th:block>
                            </table>
                        </section>
                    </div>
                    <!--                        Вкладка new user-->
                    <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">
                        <h5 class="p-3 mb-0 border-1 border">Add new user</h5>
                        <section class="p-3 bg-white">
                            <!--/*@thymesVar id="user" type="tech.itmentors.crud.model.User"*/-->
                            <form id="createUserForm">
                                <!-- поле Name-->
                                <div class="row justify-content-center">
                                    <div class="form-group" style="text-align: center;">
                                        <label for="addName">Name</label>
                                        <input type="text" id="addName"
                                               class="form-control" placeholder="Enter username" name="name" required>
                                    </div>
                                </div>
                                <!-- поле Age-->
                                <div class="row justify-content-center">
                                    <div class="form-group" style="text-align: center;">
                                        <label for="addAge">Age</label>
                                        <input type="number" name="age" id="addAge" placeholder="Enter age"
                                               class="form-control">
                                    </div>
                                </div>

                                <!-- поле password -->
                                <div class="row justify-content-center">
                                    <div class="form-group" style="text-align: center;">
                                        <label for="addPassword">Password</label>
                                        <input type="password" name="password"
                                               id="addPassword" class="form-control" placeholder="Enter password"
                                               required>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="form-group" style="text-align: center;">
                                        <label for="addRoles">Roles</label>
                                        <br>
                                        <select multiple size="2" class="form-select" id="addRoles"
                                                name="form-selected-roles">
                                        </select>
                                    </div>
                                </div>
                                <div class="notes"></div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-success" id="submitCreateButton">Add new user
                                    </button>
                                </div>

                            </form>
                        </section>
                    </div>
                </div>

            </div>
            <!-- Панель юзера -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <h1>User information-page</h1>

                <div class="tab-pane fade show active" id="nav-user-table" role="tabpanel"
                     aria-labelledby="nav-user-tab">
                    <h5 class="p-3 mb-0 border-1 border">About user</h5>
                    <section class="p-3 bg-white">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody id="tbody-user">
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!--edit modal-->
<div class="modal fade" id="edit-modal"
     tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLongTitle">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <-- поле ID-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="editId">ID</label>
                            <input disabled type="text" class="form-control"
                                   id="editId"
                                   name="id">
                            <input type="hidden" name="id"/>
                        </div>
                    </div>
                    <!-- поле Name-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="editName">Name</label>
                            <input type="text" name="name"
                                   id="editName"
                                   class="form-control" required>
                        </div>
                    </div>
                    <!-- поле Age-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="editAge">Age</label>
                            <input type="number" name="age"
                                   id="editAge"
                                   class="form-control">
                        </div>
                    </div>
                    <!-- поле password -->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="editPassword">Password</label>
                            <input type="password" name="password"
                                   id="editPassword" class="form-control"
                                   required>
                        </div>
                    </div>
                    <!-- поле Role-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="editRole">Role</label>
                            <br>
                            <select multiple size="2" class="form-select"
                                    id="editRole"
                                    name="user-roles"
                                    required>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button id="edit-submit" type="submit" class="btn btn-primary">Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--delete modal-->
<div class="modal fade" id="delete-modal"
     tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLongTitle">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <fieldset disabled>
                    <!-- поле ID-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="deleteName">ID</label>
                            <input disabled type="text" class="form-control"
                                   id="deleteId"
                                   name="id">
                            <input type="hidden" name="id"/>
                        </div>
                    </div>
                    <!-- поле Name-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="deleteName">Name</label>
                            <input type="text" name="name"
                                   id="deleteName"
                                   class="form-control" required>
                        </div>
                    </div>
                    <!-- поле Age-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="deleteAge">Age</label>
                            <input type="number" name="age"
                                   id="deleteAge"
                                   class="form-control">
                        </div>
                    </div>
                    <!-- поле Role-->
                    <div class="row justify-content-center">
                        <div class="form-group" style="text-align: center;">
                            <label for="deleteRole">Role</label>
                            <br>
                            <select multiple size="2" class="form-select"
                                    id="deleteRole"
                                    name="user-roles"
                                    required>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button id="delete-submit" type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/adminScript.js"></script>

</div>
</body>
</html>